
// Constrict the width of the Shoppable widget
#invodo-shoppable-widget {
  max-width: 960px;
  margin: 0 auto;
}

//vera bradley styling
$vb-font: 'roboto';
$vb-black: #000;
$vb-white: #FFF;
$vb-blue: #0B5B8A;
$vb-lightblue: #579CC5;
$vb-gray: #3A3A3A;

//hotspot
.ivp-hotspots .ivp-hotspot .ivp-hotspot-icon:before{
  background: $vb-black;
}
.ivp-hotspots .ivp-hotspot {
  background: $vb-black;
}
.ivp-hotspot-title {
  font-family: $vb-font;
  color: $vb-white;
}

//card
.ivp-card .ivp-row, .ivp-card .ivp-card--medium, .ivp-card .ivp-cart-text {
  background: $vb-white;
}
.ivp-card h3,p {
  font-family: $vb-font;
  color: $vb-gray;
}

//card button 1
.ivp-card-text .ivp-card-ctas .ivp-card-cta--primary {
  background: $vb-blue;
  font-family: $vb-font;
  color: $vb-white;
}

//card button 2
.ivp-card-text .ivp-card-ctas .ivp-card-cta--secondary {
  background: $vb-white;
  font-family: $vb-font;
  color: $vb-lightblue;
}

.ivp-default-theme .ivp-card-cta {
  white-space: inherit;
}
.ivp-default-theme .ivp-card .ivp-card-cta--primary::after {
  padding-top: 1px;
  line-height: 1.2;
}
