
// You can set the font directory to point to the CDN instead of local files
$ivp-base-asset-URL: '//ixd.invodo.com/ivp/2.1.0/fonts';

/* Roboto latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

// Alternatively set the font directory to your local machine
// These fonts are copied to .tmp/styles/fonts/ivp from bower_components/ivp on grunt serve
// The fonts are also copied to dist/styles/fonts/ivp on grunt build
// $ivp-base-asset-URL: 'styles/fonts/ivp';

// If you want all Ivp styles, including the default theme styles
@import 'bower_components/ivp/styles/ivp';

// Alternatively grab Ivp styles without applying the default theme
// @import 'bower_components/ivp/styles/sass/_variables';
// @import 'bower_components/ivp/styles/sass/_fonts';
// @import 'bower_components/ivp/styles/sass/_mixins';
// @import 'bower_components/ivp/styles/sass/_normalize';
// @import 'bower_components/ivp/styles/sass/_utility';
// @import 'bower_components/ivp/styles/sass/_grid';
// @import 'bower_components/ivp/styles/sass/_playback';
// @import 'bower_components/ivp/styles/sass/_posters';
// @import 'bower_components/ivp/styles/sass/_controls';
// @import 'bower_components/ivp/styles/sass/_hotspots';
// @import 'bower_components/ivp/styles/sass/_cards';
// @import 'bower_components/ivp/styles/sass/_error';

// Get your custom theme
@import 'custom_theme';
